<section class="hero is-light is-bold is-fullheight">
    <div class="hero-body is-centered">
        <div class="column is-12-desktop">
            <div class="columns is-centered">

                <div class="column is-3-desktop">

                    <div class="card">
                        <div class="card-content has-text-centered-desktop">
                            <div class="content is-medium">
                                <h1 >Backend - Login</h1>
                            </div>

                        </div>
                        <div class="card-content">
                            <form method="post">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label><input class="input" type="password" placeholder="Passwort" name="master_password"></label>
                                        <span class="mdi mdi-lock icon is-small is-left"></span>
                                    </p>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary is-fullwidth">Anmelden</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer-item has-text-centered-desktop">
                            <p>{#<a href="{{ base_url }}">Hilfe</a>#}</p>
                        </div>
                        <div class="card-footer-item has-text-centered-desktop">
                            <p>VORTEX Framework @ {{ current_version }}</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
