<div>
    <form method="post">
        <input type="hidden" name="new_release" value="true">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Erstellen</button>
            </div>
        </div>
    </form>
</div>
<script>
    window.backend_app_group_edit = new Vue({
        el:'',
        delimeters:['[[', ']]'],
        data:{
            title:'',
            description:''
        },
        methods:{

        }
    });

</script>