
<div class="columns is-centered">
    <div class="column is-4">
        <div class="content">
            <p>Wenn Sie auf den Button 'Abschließen' klicken, wird die Datenbank installiert und der Installationsvorgang ist abgeschlossen.</p>
            <p>Sie können jederzeit auf install zugreifen.</p>
            <p>Im Backend können sie auch das Passwort ändern.</p>
        </div>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-4">
        <form method="post">
            <input type="hidden" name="submit" value="true">
            <div class="control">
                <button class="button is-primary">Installation abschließen</button>
            </div>
        </form>
    </div>
</div>
